.movie {
  background-color: white;
  box-shadow: 5px 5px 20px 0.5px lightgray;
  width: 43%;
  height: 200px;
  margin: 20px;
  padding: 10px;
}

.movie__info {
  height: 100%;
  width: 100%;
  display: flex;
}

.movie__poster {
  width: 150px;
  margin: 0 10px 0 10px;
}

.movie__year {
  color: gray;
}

.movie__genres {
  color: lightslategray;
}
.movie__title h3 {
  font-size: 17px;
}

.movie__description {
  width: 70%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movie__poster img {
  position: relative;
  box-shadow: 5px 5px 20px 1px lightslategrey;
  top: -20px;
  width: 140px;
  height: 200px;
}
.movie__genres ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  flex-wrap: wrap;
}
.movie__genres ul li {
  padding-right: 5px;
}

.movie__summary p {
  color: lightslategray;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
}
